<div>
  <p>Best Price to Trade</p>
</div>
<div class="front">
  <div>
    <p>15%</p>
    <p>1 min</p>
  </div>
  <div>
    <p>25%</p>
    <p>1 hour</p>
  </div>
  <div>
    <h1>&#8377; <%=result[0].last%></h1>
  </div>
  <div>
    <p>35%</p>
    <p>1 day</p>
  </div>
  <div>
    <p>45%</p>
    <p>1 week</p>
  </div>
</div>
<div>
  <p>Average BTC/INR net price including commission</p>
</div>
