<p class="txt-1">Best Price to Trade</p>

<div class="container front">
  <div class="percent-period">
    <p class="percent">1.52 %</p>
    <p class="period">1 Mins</p>
  </div>
  <div class="percent-period">
    <p class="percent">2.73 %</p>
    <p class="period">1 Hour</p>
  </div>
  <div class="price">
    <h1>&#8377; <%=result[0].last%></h1>
  </div>
  <div class="percent-period">
    <p class="percent">1.77 %</p>
    <p class="period">1 Day</p>
  </div>
  <div class="percent-period">
    <p class="percent">1.60 %</p>
    <p class="period">1 Week</p>
  </div>
</div>

<p class="txt-2">Average BTC/INR net price including commission</p>
