<p class="txt-1">Best Price to Trade</p>

<div class="container front">
  <div class="percent-period">
    <p class="percent">15 %</p>
    <p class="period">1 min</p>
  </div>
  <div class="percent-period">
    <p class="percent">25 %</p>
    <p class="period">1 hour</p>
  </div>
  <div>
    <h1 class="price">&#8377; <%=result[0].last%></h1>
  </div>
  <div class="percent-period">
    <p class="percent">35 %</p>
    <p class="period">1 day</p>
  </div>
  <div class="percent-period">
    <p class="percent">45 %</p>
    <p class="period">1 week</p>
  </div>
</div>

<p class="txt-2">Average BTC/INR net price including commission</p>
