<div class="box-container navbox">
  <div class="logo">
    <img src="/assets/logo-white.png" alt="Logo" class="logo-img" />
  </div>
  <div class="trade">
    <button class="btn btn-outline-secondary dropdown-toggle">INR</button>
    <button class="btn btn-outline-secondary dropdown-toggle">BTC</button>
    <a class="btn btn-outline-secondary" href="#" role="button">Buy BTC</a>
  </div>
  <div class="option">
    <div class="time">1</div>
    <button class="btn btn-secondary">
      <i class="fa-regular fa-paper-plane"></i>&nbsp; Connect Telegram
    </button>
    <div class="form-check form-switch">
      <input class="form-check-input" type="checkbox" role="switch" checked />
    </div>
  </div>
</div>
