body {
  background-color: #191d28;
  color: #fff;
  font-family: "HP Simplified" !important;
  padding: 1rem;
  margin: 1rem;
}

.light-body {
  background-color: #fff;
  color: black;
}

.btn {
  color: #fff !important;
  margin: 0.5rem;
  padding: 0.2rem 1rem;
  background-color: #2e3241;
  border-radius: 10px;
  border: 1px solid #2e3241;
  font-size: 1.1rem;
}

.trade-light {
  color: #191d28;
  background-color: #f8f9fa;
}

/* -----Navbar----- */
.navbox {
  display: flex;
  align-items: center;
  flex: 1;
  margin-bottom: 0;
}

.time {
  height: 2.25rem;
  width: 2.25rem;
  color: #3dc6c1;
  border: 3px #3dc6c1 solid;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo {
  flex: 1;
  display: flex;
  align-items: center;
}

.logo img {
  width: 60%;
}

.trade {
  flex: 1;
  text-align: center;
}

.option {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.slider .form-check-input {
  background-color: #2e3241;
  border-color: #2e3241;
  width: 60px;
  height: 32px;
  position: relative;
  cursor: pointer;
  border-radius: 16px;
  transition: 0.2s ease;
}

.slider .form-check-input::after {
  content: "";
  position: absolute;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  top: 2px;
  left: 2px;
  background-color: #3dc6c1;
  transition: all 0.2s;
}

.slider .form-check-input:checked {
  background-color: white;
}

.slider .form-check-input:checked::after {
  left: 30px;
}

.tel-btn {
  background-color: #3dc6c1 !important;
  margin: 0 20px 0 20px;
}

/* Highlights */
.front {
  display: flex;
  justify-content: space-between;
}

.txt-1,
.txt-2 {
  margin: 1rem;
  opacity: 0.5;
  font-size: 1.15rem;
  text-align: center;
  transform: scaleY(1.5);
}

.txt-2 {
  font-size: 0.8rem;
  margin: 0;
}

.percent-period {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.percent {
  color: #3dc6c1;
  font-size: 2rem;
  margin: 0;
}

.period {
  opacity: 0.5;
  transform: scaleX(0.8);
}

.price {
  margin: 0;
  transform: scale(1.5, 1.5);
  position: relative;
  top: 1rem;
}

/* Content */
.table-box {
  margin: 1rem auto;
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.75rem;
}

.row-set.tab-head {
  font-weight: bold;
  opacity: 0.5;
}

.row-set.tab-body {
  background-color: #2e3348;
  border-radius: 2rem;
  transition: 0.2s;
}

.row-set.tab-light-body {
  background-color: #f8f9fa;
  color: black;
}

.row-set.body:hover {
  transform: scale(1.02);
}

td,
th {
  padding: 0.5rem;
  text-align: center;
  font-size: 1rem;
}

th {
  font-size: 1.1rem;
  transform: scaleY(1.2);
}
